.single-orderbox_order .order-box-order-follow-up-container {
  width: 900px;
  margin: 50px auto;
}
@media (max-width: 900px) {
  .single-orderbox_order .order-box-order-follow-up-container {
    max-width: 90%;
  }
}
.single-orderbox_order .orderbox-order-follow-up-main-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-column-gap: 20px;
}
.single-orderbox_order .orderbox-order-follow-up-main-container .orderbox-order-follow-up-report-item {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  align-items: center;
  min-height: 50px;
  padding: 20px 0;
}
.single-orderbox_order .orderbox-order-follow-up-main-container .orderbox-order-follow-up-report-item .orderbox-order-follow-up-report-item-title {
  margin-right: 20px;
  font-weight: bold;
  min-width: 150px;
}
.single-orderbox_order .orderbox-order-follow-up-main-container .orderbox-order-follow-up-report-item .orderbox-order-follow-up-report-value {
  line-height: 1.5em;
}
.single-orderbox_order .orderbox-order-follow-up-main-container .orderbox-order-follow-up-report-item a {
  text-decoration: none;
}
.single-orderbox_order .orderbox-order-follow-up-main-container .orderbox-order-follow-up-qr-code-container {
  max-width: 250px;
}
.single-orderbox_order .orderbox-order-follow-up-main-container .orderbox-order-follow-up-qr-code-container img {
  width: 100%;
  height: auto;
}
@media (max-width: 800px) {
  .single-orderbox_order {
    max-width: 95%;
    margin: 0 auto;
  }
  .single-orderbox_order .order-box-order-follow-up-title-container {
    text-align: center;
  }
  .single-orderbox_order .orderbox-order-follow-up-main-container {
    max-width: 90%;
    display: grid;
    margin: 50px auto;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }
  .single-orderbox_order .orderbox-order-follow-up-main-container .orderbox-order-follow-up-qr-code-container {
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .single-orderbox_order .orderbox-order-follow-up-main-container .orderbox-order-follow-up-report-item {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .single-orderbox_order .orderbox-order-follow-up-main-container .orderbox-order-follow-up-report-item .orderbox-order-follow-up-report-item-title {
    margin-right: 0;
  }
  .single-orderbox_order .orderbox-order-follow-up-report-item {
    flex-direction: column;
    align-items: baseline;
    line-height: 3em;
  }
}

.error404 .order-box-order-follow-up-title-container {
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  line-height: 2em;
  flex-direction: column;
}
.error404 .order-box-order-follow-up-title-container svg {
  max-width: 150px;
  height: auto;
  overflow: visible;
}
.error404 .order-box-order-follow-up-title-container svg path {
  stroke: #000000;
}
.error404 .order-box-order-follow-up-title-container svg ellipse {
  fill: #000000;
}
@media (max-width: 900px) {
  .error404 .order-box-order-follow-up-title-container {
    max-width: 90%;
    margin: 50px auto;
  }
}

.orderbox-order-follow-up-progress-bar {
  margin: 40px 0;
}
.orderbox-order-follow-up-progress-bar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.orderbox-order-follow-up-progress-bar ul li.orderbox-order-follow-up-progress-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.orderbox-order-follow-up-progress-bar ul li.orderbox-order-follow-up-progress-bar-item .orderbox-order-follow-up-progress-bar-item-indicator {
  width: 40px;
  height: 40px;
}
.orderbox-order-follow-up-progress-bar ul li.orderbox-order-follow-up-progress-bar-item .orderbox-order-follow-up-progress-bar-item-indicator img {
  width: 100%;
  height: 100%;
}
.orderbox-order-follow-up-progress-bar ul li.orderbox-order-follow-up-progress-bar-item .orderbox-order-follow-up-progress-bar-item-label {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.orderbox-order-follow-up-progress-bar ul li.orderbox-order-follow-up-progress-bar-item.not-activated {
  pointer-events: none;
  opacity: 0.5;
}
.orderbox-order-follow-up-progress-bar ul li.orderbox-order-follow-up-progress-bar-item.not-activated .activated-icon {
  display: none;
}
.orderbox-order-follow-up-progress-bar ul li.orderbox-order-follow-up-progress-bar-item.not-activated .not-activated-icon {
  display: block;
}
.orderbox-order-follow-up-progress-bar ul li.orderbox-order-follow-up-progress-bar-item.activated .not-activated-icon {
  display: none;
}
.orderbox-order-follow-up-progress-bar ul li.orderbox-order-follow-up-progress-bar-item.activated .activated-icon {
  display: block;
}
@media (max-width: 768px) {
  .orderbox-order-follow-up-progress-bar ul {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
  }
  .orderbox-order-follow-up-progress-bar ul .orderbox-order-follow-up-progress-bar-item-label {
    font-size: 11px !important;
  }
}

/*# sourceMappingURL=front-styles.css.map */
