html.no-scroll,body.no-scroll{
  overflow: hidden;
}

.single-orderbox_order{

  .order-box-order-follow-up-container{
    width: 1000px;
    margin: 50px auto;

    @media(max-width:900px){

      max-width: 90%;

    }

  }


  .orderbox-order-follow-up-main-container {

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 40px;

    .orderbox-order-follow-up-report-item {

      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      align-items: center;
      min-height: 50px;
      padding: 20px 0;

      .orderbox-order-follow-up-report-item-title {

        margin-right: 20px;
        font-weight: bold;
        min-width: 150px;

      }

      .orderbox-order-follow-up-report-value {

        position: relative;
        line-height: 1.5em;

        .doing-ajax-overlay {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          z-index: 10000;
          display: flex;
          align-items: center;
          justify-content: center;
          display: none;
        }


        &.doing-ajax{

          .doing-ajax-overlay{
            display: flex;
          }

          form,.orderbox-payment-document-preview{
            opacity: 0.2;
            pointer-events: none;
          }

        }


        .orderbox-payment-document-preview {

          margin-top: 20px;

        }


        img.uploaded-document-preview {
          width: 92%;
          height: auto;
          margin-right: 20px;
          margin-left: 20px;
        }

        .payment-status{

          font-weight: bold;

          font-size: 13px;

          &.paid{
            color: green;
            &:before{
              content: " ✓ ";
            }
          }

          &.not-paid{
            color:red;
            &:before{
              content: " ⚠ ";
            }
          }

        }

        a.purchase-code-link {
          color: inherit;
          font-weight: 400;
          line-height: 2em;
          opacity: 0.7;
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          font-size: 14px;
          svg {
            width: 10px;
            height: 10px;
          }
          &:hover{
            opacity: 1;
          }
        }


      }

      a{

        text-decoration: none;
      }


      &.no-border-bottom{
        border-bottom: none !important;
      }

      &.large-text-value{

        .orderbox-order-follow-up-report-value{

          font-size: 20px;
          font-weight: bold;
        }
      }


    }



    .orderbox-order-follow-up-sidebar-container{

      max-width: 250px;

      @media (max-width: 480px){

        width: 100%;

        max-width: 100%;

      }

      img{
        width: 100%;
        height: auto;
      }


      .toggle-gallery-button {


        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: rgba(0, 0, 0, .5);
        border-radius: 10px;
        padding: 10px 15px 10px 15px;
        text-align: left;
        flex-direction: row;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        background:#000000;
        color: #fff;
        margin-top: 20px;

        &:hover{
          opacity: 1;
        }

        .button-order-code{

          font-size: 13px;

        }


        .button-icon img {
          max-width: 55px;
          height: auto;
        }

        span.button-texts {
          text-align: left;
          padding-left: 8px;
          line-height: 19px;
        }




      }


      a.gallery-image {
        display: block;
        max-height: 200px;
        overflow: hidden;
        margin: 5px 0;

        @media (max-width: 480px){

          max-height: 300px;


        }


        &.hidden{
          display:none !important;
        }


      }

      .clearfix::after {
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }

      .order-code-container{

        font-size: 14px;

        text-align: center;

        margin: 10px auto;

        font-weight: 800;
      }

    }




  }



  @media (max-width: 800px){

    .order-box-order-follow-up-title-container{
      text-align: center;
    }

    .orderbox-order-follow-up-main-container {

      max-width: 90%;
      display: grid;
      margin: 50px auto;
      grid-template-columns: 1fr;
      grid-column-gap: 40px;

      .orderbox-order-follow-up-qr-code-container{

        margin: 0 auto;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
      }


      .orderbox-order-follow-up-report-item{
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        .orderbox-order-follow-up-report-item-title{
          margin-right: 0;
          margin-bottom: 20px;
          br{
            display: none;

          }
        }
      }

    }


    max-width: 95%;

    margin: 0 auto;


    .orderbox-order-follow-up-report-item {

      flex-direction: column;

      align-items: baseline;

      line-height: 3em;

    }



  }




  .lightbox {
    position: absolute;
    left: 0;
    text-align: center;
    line-height: 0;
    font-weight: 400;
    outline: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100000;
  }

}





.error404{


  .order-box-order-follow-up-title-container {
    max-width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    line-height: 2em;
    flex-direction: column;
    svg {

      max-width: 150px;
      height: auto;
      overflow: visible;
      path {
        stroke: #000000;
      }

      ellipse{
        fill:#000000;
      }

    }

    @media (max-width: 900px) {

      max-width: 90%;
      margin: 50px auto;
      
    }
  }


}




.orderbox-order-follow-up-progress-bar{

  margin:40px 0;

  ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li.orderbox-order-follow-up-progress-bar-item{

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      .orderbox-order-follow-up-progress-bar-item-indicator{

        width: 40px;
        height: 40px;

        img{

          width: 100%;
          height: 100%;
        }

      }

      .orderbox-order-follow-up-progress-bar-item-label{

        font-size: 13px;
        font-weight: 400;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        span.orderbox-order-follow-up-progress-bar-item-label-date {
          font-size: 12px;
          letter-spacing: 0.5px;
        }

        .orderbox-order-follow-up-progress-bar-item-label-separator{
          width: 50%;
          height: 1px;
          background: rgba(0, 0, 0, 0.5);
        }

      }


      &.not-activated{

        pointer-events: none;
        opacity: 0.5;
        .activated-icon{
          display: none;
        }

        .not-activated-icon{
          display: block
        }

      }


      &.activated{


        .not-activated-icon{
          display: none;
        }

        .activated-icon{
          display: block
        }


      }

    }








    @media (min-width:500px) and (max-width:900px){

      grid-template-columns: repeat(3, 1fr);

      grid-row-gap: 50px;



    }


    @media (max-width:499px){

      grid-template-columns: repeat(2, 1fr);

      grid-row-gap: 50px;




    }

  }

}



#orderboxPaymentUploadForm{

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;

  @media(max-width: 600px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }


  input[type='submit'],input[type='button'],input[type='reset'],label#uploadFormLabel {
    min-width: 100px;
    background: #212121;
    width: 114px;
    color: #fff;
    padding: 5px;
    border-radius: 7px;
    border-style: none;
    font-size: 13px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    cursor: pointer;

    &:disabled{
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  span.paymentDocumentFileName {
    display: flex;
    margin-bottom: 20px;
    flex:1;
    margin-top: 20px;
  }

}







.woocommerce-account{

  .user-order-follow-ups-container{

    .header-container{
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      .search-from-container{

        input[type="submit"] {
          height: 30px;
          line-height: 0;
          background: #000000 !important;
          border: 1px solid rgba(255, 255, 255, 0.5) !important;
          border-radius: 7px !important;
          color: #FFFF;
          font-size: 14px;
        }

        form{
          display: flex;
          gap: 10px;
        }

        margin-right: auto;

        .search-text-input-container{
          border: 1px solid rgba(0, 0, 0, .3);
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 10px;
          height: 30px;

          input[type="text"] {
            background: transparent;
            border: none !important;
            padding: 0;
            margin: 0;
            font-size: 15px;
            &:focus{
              outline: none !important;
            }
          }


          .reset-search-form{
            text-decoration: none !important;
            color: inherit;
            font-size: 12px;

          }

        }
      }



    }


    h5{
      text-align: right;
      margin: 0;
      display: flex;
      align-items: center;
    }


    a.reset-search-result {
      height: 30px;
      line-height: 0;
      background: #000 !important;
      border: 1px solid rgba(255, 255, 255, .5) !important;
      border-radius: 7px !important;
      text-decoration: none !important;
      color: #FFFFFF !important;
      max-width: 140px;
      text-align: center;
      margin-top: 10px;
      font-size: 13px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .user-order-follow-ups{

      list-style:none;
      margin-right: 0;
      padding-inline-start: 0;

        li{
          text-align: right;
          line-height: 2em;
        }

      }

    }


}











.order-follow-up-image-gallery-popup {

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  align-items: center;
  justify-content: center;
  display: flex;

  &.hidden{display: none;}

  .image-gallery-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 0;
  }

  .gallery-image-main-container {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    gap: 15px;


    @media (max-width:768px){

      grid-template-columns: 1fr 1fr;

    }

  }


   .gallery-image {
    z-index: 100;
    max-width: 300px;
    overflow: hidden;
    height: 300px;
     img{
       width: 100%;
       height: auto;
       border-radius: 10px;

     }

     @media (max-width:768px){

       grid-template-columns: 1fr 1fr;

       max-width: 150px;

       height: 150px;

     }
  }


  .popup-close-icon {
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 30px;
    color: #ffffff;
    z-index: 10000000;
    cursor: pointer;
    font-weight: 300;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }

}


.rtl{

  .toggle-gallery-button{

    span.button-texts {
      text-align: right !important;
      padding-right: 8px !important;
    }

  }

}



@media (max-width: 768px){

  .header-container{

    flex-direction: column !important;
    gap: 10px;

    .search-from-container{
      margin-right: 0 !important;
    }

  }


}