.single-orderbox_order{



  .order-box-order-follow-up-container{
    width: 1000px;
    margin: 50px auto;

    @media(max-width:900px){

      max-width: 90%;

    }

  }


  .orderbox-order-follow-up-main-container {

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 40px;

    .orderbox-order-follow-up-report-item {

      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      align-items: center;
      min-height: 50px;
      padding: 20px 0;

      .orderbox-order-follow-up-report-item-title {

        margin-right: 20px;
        font-weight: bold;
        min-width: 150px;

      }

      .orderbox-order-follow-up-report-value {

        line-height: 1.5em;


        .orderbox-payment-document-preview {

          margin-top: 20px;

        }


        img.uploaded-document-preview {
          width: 92%;
          height: auto;
          margin-right: 20px;
          margin-left: 20px;
        }

      }

      a{

        text-decoration: none;
      }

    }



    .orderbox-order-follow-up-qr-code-container{

      max-width: 250px;
      img{
        width: 100%;
        height: auto;
      }
    }



  }



  @media (max-width: 800px){

    .order-box-order-follow-up-title-container{
      text-align: center;
    }

    .orderbox-order-follow-up-main-container {

      max-width: 90%;
      display: grid;
      margin: 50px auto;
      grid-template-columns: 1fr;
      grid-column-gap: 40px;

      .orderbox-order-follow-up-qr-code-container{

        margin: 0 auto;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
      }


      .orderbox-order-follow-up-report-item{
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        .orderbox-order-follow-up-report-item-title{
          margin-right: 0;
        }
      }

    }


    max-width: 95%;

    margin: 0 auto;


    .orderbox-order-follow-up-report-item {

      flex-direction: column;

      align-items: baseline;

      line-height: 3em;

    }



  }




}





.error404{


  .order-box-order-follow-up-title-container {
    max-width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    line-height: 2em;
    flex-direction: column;
    svg {

      max-width: 150px;
      height: auto;
      overflow: visible;
      path {
        stroke: #000000;
      }

      ellipse{
        fill:#000000;
      }

    }

    @media (max-width: 900px) {

      max-width: 90%;
      margin: 50px auto;
      
    }
  }


}




.orderbox-order-follow-up-progress-bar{

  margin:40px 0;

  ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li.orderbox-order-follow-up-progress-bar-item{

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      .orderbox-order-follow-up-progress-bar-item-indicator{

        width: 40px;
        height: 40px;

        img{

          width: 100%;
          height: 100%;
        }

      }

      .orderbox-order-follow-up-progress-bar-item-label{

        font-size: 13px;
        font-weight: 400;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        span.orderbox-order-follow-up-progress-bar-item-label-date {
          font-size: 12px;
          letter-spacing: 0.5px;
        }

        .orderbox-order-follow-up-progress-bar-item-label-separator{
          width: 50%;
          height: 1px;
          background: rgba(0, 0, 0, 0.5);
        }

      }


      &.not-activated{

        pointer-events: none;
        opacity: 0.5;
        .activated-icon{
          display: none;
        }

        .not-activated-icon{
          display: block
        }

      }


      &.activated{


        .not-activated-icon{
          display: none;
        }

        .activated-icon{
          display: block
        }


      }

    }








    @media (min-width:500px) and (max-width:900px){

      grid-template-columns: repeat(3, 1fr);

      grid-row-gap: 50px;



    }


    @media (max-width:499px){

      grid-template-columns: repeat(2, 1fr);

      grid-row-gap: 50px;




    }

  }

}



#orderboxPaymentUploadForm{

  @media(max-width: 600px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  label#uploadFormLabel {
    cursor: pointer;
    min-width: 200px;
    display: block;
    margin-bottom: 20px;
  }

  input[type='submit'],input[type='button'],input[type='reset']{
    min-width: 130px;
    background: #1891d5;
    width: 100px;
    color: #ffffff;
    padding: 5px;
    border-radius: 7px;
    border-style: none;
    &:disabled{
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  span.paymentDocumentFileName {
    display: block;
    margin-bottom: 20px;
  }








}